@charset "UTF-8";

.banner-box{
	height:500px;
	.index-banner{
		height:100%;
		position:relative;
		.fp-controlArrow{
			background-repeat: no-repeat;
		    background-position: center;
		    width: 54px;
		    height: 84px;
		    border: none;
		    margin-top: -42px;
		    top:50%;
		    position:absolute;
		    &.fp-prev {
			    background-image: url(../images/pre.png);
			    left: 18.75%;
			}
			&.fp-next {
			    background-image: url(../images/next.png);
			    right: 18.75%;
			}
		}
	}
}

.i-tab-list{
	margin-top:40px;
	.i-list{
		ul{
			@extend %clearfix;
			li{
				float:left;
				margin:0 17px 30px 18px;
				width:305px;
				a{
					display:block;
					.imgs{
						width:100%;
						height:210px;
						img{
							max-width:100%;
							max-height:100%;
							display:block;
						}
					}
					.titles{
						height:60px;
						border-bottom:2px solid #d9d9d9;
						line-height:58px;
						@extend %textdan;
						padding:0 10px;
						color:#a30e12;
						font-size:18px;
						text-align:center;
						@extend %animated;
					}
					&:hover{
						.titles{
							background-color:#a30e12;
							border-color:#a30e12;
							color:#fff;
						}
					}
				}
			}
		}
	}
}

.why-box{
	margin-top:40px;
	.hd-title{
		text-align:center;
		p{
			display:inline-block;
			width:328px;
			height:60px;
			border-radius:30px;
			background:url(../images/h_icon1.png)8px center no-repeat #a30e12;
			padding-left:104px;
			span{
				text-align:left;
				display:block;
				&.ch{
					font-size:22px;
					color:#fff;
					padding-top:7px;
				}
				&.en{
					font-size:12px;
					font-family:arial;
					line-height:1;
					color:rgba(255,255,255,0.64);
				}
			}
		}
	}
	.why-list{
		width:898px;
		height:247px;
		margin-top:20px;
		background:url(../images/h_icon2.png) center no-repeat;
		position:relative;
		p{
			display:block;
			position:absolute;
			text-align:left;
			span,
			em{
				font-style:normal;
				display:block;
			}
			span{
				font-size:20px;
				color:#111111;
				font-weight:bold;
				padding-top:5px;
			}
			em{
				font-size:16px;
				color:#111111;
			}
			&.a1{
				left:86px;
				top:0;
			}
			&.a2{
				right:86px;
				top:0;
				text-align:right;
			}
			&.a3{
				left:86px;
				top:148px;
			}
			&.a4{
				right:86px;
				top:148px;
				text-align:right;
			}
		}
	}
}
.shili{
	margin-top:50px;
	.hd-title{
		height:185px;
		position:relative;
		&:after{
			content:'';
			width:0;
			height:0;
			border-left:544px transparent solid;
			border-right:544px transparent solid;
			border-top:185px #a30e12 solid;
			display:block;
			position:absolute;
			left:-20px;
			top:0;
		}
		.content{
			position:relative;
			z-index:2;
			h1{
				color:#fff;
				font-weight:bold;
				font-size:28px;
				text-align:center;
				line-height:1;
				padding:28px 0 16px;
				span{
					font-size:36px;
					&.rt{
						padding-right:40px;
					}
				}
			}
			p{
				width:264px;
				margin:0 auto;
				background:url(../images/juhao.png)0 no-repeat;
				text-align:center;
				span{
					display:block;
					margin:0 auto;
					color:#fff;
					font-size:26px;
					&.a1{
						height:30px;
						color:#212121;
						font-size:16px;
						line-height:28px;
						width:180px;
						border-top:1px solid rgba(0,0,0,0.26);
						border-bottom:1px solid rgba(0,0,0,0.26);
					}
				}
			}
		}
	}
	.baozhang{
		width:100%;
		height:963px;
		background:url(../images/baozhang.png)center no-repeat;
		margin:40px 0 50px;
		position:relative;
		p{
			position:absolute;
			span{
				display:block;
				text-align:left;
				width:436px;
				color:#1f1f1f;
				font-size:16px;
				&.big{
					color:#d11318;
					font-size:30px;
					font-weight:bold;
				}
			}
			&.a1{
				left:110px;
				top:100px;
			}
			&.a2{
				left:535px;
				top:450px;
			}
			&.a3{
				left:110px;
				top:770px;
			}
		}
	}
}
.n-banner{
	height:170px;
	background:url(../images/n-banner.jpg)center no-repeat;
	p{
		height:100%;
		a{
			display:block;
			height:100%;
		}
	}
}
.i-news{
	height:387px;
	background-color:#f2f2f2;
	margin-top:54px;
	.mytabs{
		margin:0 37px;
		p{
			a{
				display:block;
				width:50%;
				float:left;
				height:66px;
				line-height:66px;
				text-align:center;
				font-size:18px;
				background-color:#fff;
				color:#0c0c0c;
				position:relative;
				@extend %animated;
				&:before{
					content:'';
					display:block;
					position:absolute;
					left:50%;
					bottom:0;
					margin-left:-8px;
					border-left:8px transparent solid;
					border-right:8px transparent solid;
					border-bottom:14px #fff solid;
					opacity:0;
					@extend %animated;
				}
				&.oncur,
				&:hover{
					background-color:#a30e12;
					color:#fff;
					&:before{
						opacity:1;
					}
				}
			}
		}
	}
	.content2{
		margin:0 37px;
		.i-about{
			padding-top:38px;
			.imgs{
				width:449px;
				height:234px;
				img{
					max-width:100%;
					max-height:100%;
					display:block;
				}
			}
			.infos{
				padding-left:30px;
				margin-left:449px;
				.title{
					margin-top:40px;
					a{
						color:#272727;
						font-size:16px;
						font-weight:bold;
					}
				}
				.ts{
					color:#050505;
					font-size:12px;
					line-height:1.8;
					margin-top:20px;
				}
				.mores{
					margin-top:25px;
					a{
						display:block;
						width:148px;
						height:30px;
						border:1px solid #a9a9a9;
						border-radius:15px;
						text-align:center;
						line-height:28px;
						color:#050505;
						font-size:12px;
						@extend %animated;
						&:hover{
							background-color:#a30e12;
							color:#fff;
							border-color:#a30e12;
						}
					}
				}
			}
		}
	}
}

.contact{
	padding-top:40px;
	.i-maps{
		width:940px;
		height:280px;
		margin:50px auto 100px;
		.i-c{
			width:486px;
			height:100%;
			border:4px solid #c41217;
			@include prefixer(box-shadow,3px 5px 10px rgba(0,0,0,0.43),moz);
			.m-contact{
				width:370px;
				padding:30px 0 0 40px;
				margin:0;
				p{
					font-size:14px;
					color:#1c1c1c;
					line-height:30px;
				}
			}
		}
		.i-m{
			width:(940-486)*1px;
			height:236px;
			margin:22px 0;
			border:4px solid #c41217;
			@include prefixer(box-shadow,3px 5px 10px rgba(0,0,0,0.43),moz);
			position:relative;
			.maps{
				width:537px;
				height:228px;
				position:absolute;
				right:0;
				top:0;
				background-color:#fff;
			}
		}
	}
}