@charset "UTF-8";

.tabs{
    display:block;
    text-align:center;
    height:80px;
    p{
        text-align:center;
        display:inline-block;
        @extend %clearfix;
        padding-top:24px;
        a{
            position:relative;
            color:#262626;
            font-size:14px;
            display:inline-block;
            width:200px;
            height:32px;
            line-height:30px;
            text-align:center;
            margin-left:44px;
            border:1px solid #d4d4d4;
            border-radius:25px;
            @extend %animated;
            &:hover,
            &.oncur{
               color:#fff;
               background-color:#a30e12;
               border-color:#a30e12;
            }
        }
    }
}


.tabs-content{
    .contents{
        display:none;
        height:100%;
        &.active{
            display:block;
        }
    }

    .fade{
        @include prefixer(transition,opacity .3s ease-out,o webkit ms moz);
        opacity: 0;
        &.in{
           opacity: 1; 
        }
    }
}